*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#mom{
    text-transform: capitalize;
    transform: translate(-50%,-50%);
    text-indent: 1px;
    letter-spacing: 5px;
    font-weight: 100;
    position: absolute;
    top: 45%;
    left: 18%;
    
    color: rgb(141, 128, 128);
    border: 2px solid black;
}
#mm{
    text-transform: capitalize;
    transform: translate( -50%,-50%);
    color: rgb(141, 128, 128);
    text-indent: 1px;
    letter-spacing: 5px;
    font-weight: 100;
    position: absolute;
    top: 55%;
    left: 82%;
    border: 2px solid black;
}
#main{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1714733708319-67d8371be5b0?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: contain;
    background-position: center;
}
#overlay{
    width: 100%;
    height: 100%;
    background-color: antiquewhite(0,0,0,0.5);
}
